RewriteEngine On    # Turn on the rewriting engine
RewriteRule ^Homepage index.php
RewriteRule ^Sponsoren/([A-Za-z]+)$ page-sponsors.php?sponsor_name=Rabobank [NC,L]    # Handle requests for "Sponsor pages"