RewriteEngine On    # Turn on the rewriting engine
RewriteRule ^Homepage index.php [NC,L]
#RewriteRule ^Contact contact.php [NC,L]
RewriteRule "^Steun ons/Lid van de vishal" leden.php
RewriteRule "^Steun ons/([A-Za-z]+)$" $1.php
RewriteRule ^Sponsoren/([A-Za-z]+)$ page-sponsors.php?sponsor_name=$1 [NC,L]    # Handle requests for "Sponsor pages"